<!--헤더-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous"/>
    <title>커뮤니티 게시판</title>
</head>
<body>

<!--네비게이션 바-->
<div th:replace="layout/header::header"></div>

<!-- 게시판 -->
<main class="container">
    <!-- 카테고리 -->
    <ul class="nav nav-tabs my-4" id="category">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="ALL">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="NOTICE">공지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="FREE">자유</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="QUESTION">질문</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="PROMOTION">홍보</a>
        </li>
    </ul>
    <!-- 게시글 -->
    <table class="table">
        <thead>
        <tr>
<!--            <th scope="col">순서</th>-->
            <th scope="col">제목</th>
            <th scope="col">카테고리</th>
            <th scope="col">글쓴이</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <!--게시글 리스트-->
        </tbody>
    </table>

    <!--페이징-->
    <nav aria-label="Page navigation" style="text-align:center;">
        <ul class="pagination justify-content-center my-5">
            <!--페이지버튼-->
        </ul>
    </nav>

    <button type="button" onclick="location.href='/board/save'"
            class="btn btn-secondary float-right my-2 mx-3"
            id="btn-write">글쓰기
    </button>
</main>

<!--footer-->
<div th:replace="layout/footer::footer"></div>

<script src="/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" crossorigin="anonymous"></script>

<script src="/js/global.js" crossorigin="anonymous"></script>
<!--<script src="/js/board/board.js" crossorigin="anonymous"></script>-->
<script src="/js/board/boardList.js" crossorigin="anonymous"></script>
</body>
</html>

<script id="boardListTemplate" type="x-tmpl-mustache">
            <tr>
                <th scope="row"><a href="/board/read/{{id}}">{{boardTitle}}
                </a><span class="badge badge-dark m-1">{{replyCount}}</span></th>
                <td>{{boardType}}</td>
                <td>{{name}}</td>
                <td>{{viewCount}}</td>
                <td>{{createDate}}</td>
                <td>{{modifyDate}}</td>
            </tr>
</script>


<script id="pageButtonTemplate" type="x-tmpl-mustache">
    <li class="page-item" id={{realPage}}>
        <a class="page-link" href="#">{{currentPage}}</a>
    </li>
</script>

<script id="prevPageButtonTemplate" type="x-tmpl-mustache">
    <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous" id="prev">&laquo;</a>
    </li>
</script>


<script id="nextPageButtonTemplate" type="x-tmpl-mustache">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" id="next">&raquo;</a>
    </li>
</script>

<script id="firstPageButtonTemplate" type="x-tmpl-mustache">
    <li class="page-item" id="first-page">
        <a class="page-link" href="#">처음</a>
    </li>
</script>

<script id="lastPageButtonTemplate" type="x-tmpl-mustache">
    <li class="page-item" id="last-page">
        <a class="page-link" href="#">마지막</a>
    </li>
</script>
