<!--헤더-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous"/>
    <title>커뮤니티 게시판</title>
</head>
<body>

<!--네비게이션 바-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="/board/list" class="nav-link">게시판</a>
            </li>
        </ul>

        <ul class="nav" th:if="${userName}">
            <li class="col-md-6">
                <span id="user" th:text="'Logged in as :' + ${userName}"></span>
            </li>
            <li>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            </li>
        </ul>
        <ul class="nav" th:unless="${userName}">
            <li class="col-md-6">
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            </li>
            <li class="col-md-6">
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 게시판 -->
<main class="container">
    <!-- 카테고리 -->
    <ul class="nav nav-tabs my-4" id="category">
        <li class="nav-item">
            <a class="nav-link" id="ALL">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ANNOUNCE">공지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="FREE">자유</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="QUESTION">질문</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="PROMOTION">홍보</a>
        </li>
    </ul>

    <!-- 게시글 조회 -->
    <div class="border border-secondary my-4 p-4">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="my-4" th:text="${session.board.title}">{{board.title}}</h3>
            </div>
            <div class="col-sm text-right">
                <span th:text="'조회수' + ${session.board.viewCount}">조회수 {{board.viewCount}}</span>
                <br>
                <span th:text="${session.board.nickname}">{{board.nickname}}</span>
            </div>
        </div>
        <div class="form-group my-4">
            <textarea class="form-control" id="message" name="message" placeholder="내용" rows="10" readonly th:text="${session.board.content}">{{board.content}}</textarea>
        </div>
        <button class="btn btn-primary my-2" onclick="location.href='/board/list'">글목록</button>
        <!-- To Do : 수정, 삭제 버튼은 권한 있을경우에만 보이기-->
        <input type="hidden" class="boardId" th:value="${session.board.id}">
        <input type="hidden" class="boardType" th:value="${session.board.boardType}">
        <button class="btn btn-dark my-2" onclick="location.href='/board/update'">수정</button>
        <button class="btn btn-secondary my-2" id="btn-remove">삭제</button>
    </div>
</main>

<!--footer-->
<script src="/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" crossorigin="anonymous"></script>

<script src="/js/global.js" crossorigin="anonymous"></script>
<script src="/js/board/board.js" crossorigin="anonymous"></script>
<script src="/js/board/boardReadForm.js" crossorigin="anonymous"></script>
</body>
</html>
